{% extends "base.html" %}
{% block header %}
{% load static %}

<!--CSS-->
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/search.css' %}">

{% endblock %}

{% block content %}

<!--필터 버튼-->
<div class="d-flex justify-content-center py-3" style="margin-left:1em;">
    <div class="row">
        <form action="{% url 'filter' %}" class="filter" method='GET'>
            <button type="submit" class="filter_item" name='hash_fi' value="경제">경제💰</button>
        </form>
        <form action="{% url 'filter' %}" class="filter" method='GET'>
            <button type="submit" class="filter_item" name='hash_fi' value="진로">진로⛳</button>
        </form>
        <form action="{% url 'filter' %}" class="filter" method='GET'>
            <button type="submit" class="filter_item" name='hash_fi' value="인간관계">인간관계👥</button>
        </form>
        <form action="{% url 'filter' %}" class="filter" method='GET'>
            <button type="submit" class="filter_item" name='hash_fi' value="학업">학업✍</button>
        </form>
        <form action="{% url 'filter' %}" class="filter" method='GET'>
            <button type="submit" class="filter_item" name='hash_fi' value="취미">취미🎨</button>
        </form>
        <form action="{% url 'filter' %}" class="filter" method='GET'>
            <button type="submit" class="filter_item" name='hash_fi' value="건강">건강🏃‍♂</button>
        </form>
        <form action="{% url 'filter' %}" class="filter" method='GET'>
            <button type="submit" class="filter_item" name='hash_fi' value="아카이브">아카이브📚</button>
        </form>
    </div>
</div>

<!--모든 게시물-->
<div class="container-fluid">
    <div class="row">
        {% for word in words.all %}
        <div class="col-sm-3 card">
            <div class="title">{{word.title}}</div>
            <div class="date">{{word.pup_date}}</div>
            <div class="summary">{{word.summary}}</div>
            <a class="link" href="{% url 'detail' word.id%}">....더보기</a>
            <a class="link" href="{% url 'delete' word.id %}"> 삭제</a>
            <a class="link" href="{% url 'edit' word.id %}"> 수정</a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}